.navbar {
  padding: 0 !important;
  /* border-radius: 10px 10px 10px 10px; */
}
.scroll-background {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  /* box-shadow: 0px 0px 10px 1px #000; */
}

.navbar a {
  color: white !important;
}

.nav-bar {
  overflow: hidden;
  width: 100%;
  color: white;
  z-index: 999;
  min-height: 80px;
}

.nav-item {
  margin-left: 30px;
}

.fixed-top {
  padding: 0 !important;
}
