* {
  margin: 0;
  /* padding: 0; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Acme-Regular", sans-serif;
}

@font-face {
  font-family: "Acme-Regular";
  src: local("Acme-Regular"), url("./fonts/Acme-Regular.ttf");
}

@font-face {
  font-family: "PermanentMarker-Regular";
  src: local("PermanentMarker-Regular"),
    url("./fonts/PermanentMarker-Regular.ttf");
}
